{% macro hmrcUserResearchBanner(params) %}

  <div class="hmrc-user-research-banner" data-module="hmrc-user-research-banner">
    <div class="hmrc-user-research-banner__container govuk-width-container">
      <div class="hmrc-user-research-banner__text">
        <h2 class="govuk-heading-s hmrc-user-research-banner__title">
          {{ messages("site.userResearch.h2") }}
        </h2>
        <a class="govuk-link hmrc-user-research-banner__link" rel="noopener noreferrer" href="{{ params.url }}" target="_blank">
          {{ messages("site.userResearch.yes") }}
        </a>
      </div>
      <button class="govuk-button govuk-button--secondary hmrc-user-research-banner__close">
        <span aria-hidden="true">{{ messages("site.userResearch.no") }}</span>
        <span class="govuk-visually-hidden">{{ messages("site.userResearch.no.hidden") }}</span>
      </button>
    </div>
  </div>

{% endmacro %}