{% extends "govuk/template.njk" %}
{% from "macros/headingCaption.njk"               import headingCaption %}
{% from "hmrc/components/header/macro.njk" import hmrcHeader %}
{% from "hmrc/components/timeout-dialog/macro.njk"     import hmrcTimeoutDialog %}
{% from "hmrc/components/report-technical-issue/macro.njk"  import hmrcReportTechnicalIssue %}
{%- set assetPath = "/manage-transit-movements-unloading-remarks/assets/lib/govuk-frontend/govuk/assets" -%}
{%- set htmlLang = request.language -%}

{% block head %}
  {% block pageHead %}{% endblock %}
  {{ hmrcTimeoutDialog({
    timeout: config.timeoutSeconds,
    countdown: config.countdownSeconds,
    keepAliveUrl: routes.controllers.KeepAliveController.keepAlive(arrivalId).url,
    signOutUrl:  config.signOutUrl
  }) }}
  {% include "includes/head.njk" %}
{% endblock %}

{% block header %}
  {% macro phaseBanner() %}
    {{ messages("phaseBanner.1") }} <a class="govuk-link" href="{{ config.feedbackUrl }}">{{ messages("phaseBanner.2") }}</a> {{ messages("phaseBanner.3") }}
  {% endmacro %}

  {% macro userResearchBanner() %}
    <div class="hmrc-user-research-banner" data-module="hmrc-user-research-banner">
      <div class="hmrc-user-research-banner__container govuk-width-container">
        <div class="hmrc-user-research-banner__text">
          <h2 class="govuk-heading-s hmrc-user-research-banner__title">
            {{ messages("site.userResearch.h2") }}
          </h2>
          <a class="govuk-link hmrc-user-research-banner__link" rel="noopener noreferrer" href="{{ config.userResearchUrl }}" target="_blank">
            {{ messages("site.userResearch.yes") }}
          </a>
        </div>
        <button class="govuk-button govuk-button--secondary hmrc-user-research-banner__close">
          <span aria-hidden="true">{{ messages("site.userResearch.no") }}</span>
          <span class="govuk-visually-hidden">{{ messages("site.userResearch.no.hidden") }}</span>
        </button>
      </div>
    </div>
  {% endmacro %}

  {% set phaseBanner = {tag: {text: "beta"}, html: phaseBanner()} if config.showPhaseBanner %}
  {% set isSignedOut = signInUrl | length %}

  {{ hmrcHeader({
    homepageUrl: "https://www.gov.uk",
    assetsPath: "/assets",
    serviceName: messages("site.service_name"),
    serviceUrl: config.serviceUrl,
    phaseBanner: phaseBanner,
    additionalBannersBlock: userResearchBanner() if config.showUserResearchBanner,
    signOutHref: config.signOutUrl if not isSignedOut
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  {% block mainContent %}{% endblock %}

  {{ hmrcReportTechnicalIssue({
    serviceCode: config.serviceIdentifier,
    baseUrl: config.contactHost,
    referrerUrl: globals.reportTechnicalIssueHost + request.uri
  }) }}

{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% block pageScripts %}{% endblock %}
    {% include "includes/scripts.njk" %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
